body {
    background: linear-gradient(135deg, #1f1b2e, #362a37);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background: #ccc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: black;
    margin-bottom: 25px;
}

button {
    background: #4a90e2;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background: #357ab7;
}

.resultado-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
    text-align: left;
}

.resultado-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}
.button-secondary-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'MedievalSharp', cursive;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
}
